<div class="board__container" color="primary">
    
    <mat-grid-list cols="7" >
        <mat-grid-tile *ngFor="let column of ' '.repeat(42).split(''); let columnIndex = index">
            <div
                class="board__column"
                (click)="onClickColumn(columnIndex)"
            >
            <app-disk style="position: absolute; bottom: 0px;"
            class="board__disk__container "
        ></app-disk>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>