<div class="game-content__container" >
    <div class="game-content__player-name-section">
        <div i18n="@@player1" class="game-content__player-name-label game-content__player-name-label--player1-playing" >
            Player 1
        </div>
        <div i18n="@@player2" class="game-content__player-name-label game-content__player-name-label--player2-playing" >
            Player 2
        </div>
    </div>
    <div class="game-content__new-game-section">
        <button mat-raised-button i18n="@@playAgainButton" >Play again</button>
    </div>
</div>
